
.icon 
{
  padding-right: 5px;
}

.ib-background
{
  color: white;
  background: #434140;
}

.etsy-hover:hover, .etsy-hover:hover path
{
  color: #d0692a;
  fill: #d0692a;
}

.itchio-hover:hover, .itchio-hover:hover path
{ 
  color: #fa5c5c;
  fill: #fa5c5c;
}

.patreon-hover:hover, .patreon-hover:hover path
{
  color:  rgb(211, 211, 211);
  fill: rgb(211, 211, 211);
}

.footerlink .mastodon-hover:hover, .mastodon-hover:hover path
{
  color: #6364FF;
  fill: #6364FF;
}

.bluesky-hover:hover, .bluesky-hover:hover path
{
  fill: #08f
}

.youtube-hover:hover, .youtube-hover:hover path
{
  fill: #FF0000;
}

.purchase-background
{
  color: white;
  background: #6eb110;
}

.finished-object-background
{
  color: black;
}

.finished-object-background:hover 
{
  color: #a773ab;
}

a, .bold
{
  font-weight: bold;
}

.card 
{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-content 
{
  height: 100%;
}

.pageTitle
{
  text-align: center;
}

hr
{
  border: 0;
  height: 1px;
  background: #CCCCCC;
}

#active-item
{
  display: none;
}

.subTitle
{
  overflow: hidden;
}

.subTitle
{
  background: #ffffffad;
  padding: 12px;
  text-align: center;
}

#logo-div img
{
  width: 200px;
}

.footer-link
{
  display: block !important;
}

.card-footer-item
{
  font-size: 0.9em;
}

.mailing-list-banner
{
  background-color: #000000bf;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0px;
  cursor: pointer;
}
